@import url('https://fonts.googleapis.com/css?family=Asul|Chivo:400,700,900');

@font-face {
  font-family: 'Authentic Sans'  !important;
  src: url('authentic-sans.woff2') format('woff2'),
       url('authentic-sans.woff') format('woff'),
  		url('authentic-sans.otf') format('opentype');
}

body{
  font-family: Authentic Sans, Arial;
  background-color: #ffba49;
  font-size: 2vw;
}

a{
  font-family: Authentic Sans, Arial;
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

h2,
h5{
  font-family: Asul, Old Standard TT;
}

h4{
  border-bottom: .75px solid #ff0052;
}