/* Stylez */
@font-face {
    font-family: FranklinGothic;
    src: url("franklingothic-book.otf") format("opentype");
}

@font-face {
    font-family: FranklinGothic;
    font-weight: bold;
    src: url("franklingothic-demi.otf") format("opentype");
}

@font-face {
    font-family: Syne-Bold;
        src: url("Syne-Bold.otf") format("opentype");
    src: url("Syne-Bold.ttf") format("truetype");
    src: url("Syne-Bold.woff") format("woff");
    src: url("Syne-Bold.woff2") format("woff2");
    src: url("Syne-Bold.eot") format("embedded-opentype");
}

@font-face {
    font-family: Syne;
        src: url("Syne-Regular.otf") format("opentype");
    src: url("Syne-Regular.ttf") format("truetype");
    src: url("Syne-Regular.woff") format("woff");
    src: url("Syne-Regular.woff2") format("woff2");
    src: url("Syne-Regular.eot") format("embedded-opentype");
}

/*Text Styles*/

body{
	font-family: FranklinGothic;
	font-size: 16px;
}

.center-text{
		text-align: left;
			font-size: 1.45em;
		line-height: 2em;
		font-family:Arial;
		width: 80%;
}

.heading-1{
	font-size: 3.5em;
	font-family:FranklinGothic;
}

.nav-text{
	font-size: 1.45em;
}

.heading-2{
	font-size: 2em;
	font-weight: bold;
}

.text{
	font-size: 1.35em;
	line-height: 1.3em;
	font-family: Arial;
}

.smaller-text{
	font-size: .9em;
}

.small-text{
	font-size: 1.3em;
}

.bullet{
	font-size: 1.5em;
}

.apply-text{
	border-bottom: solid 4px #000;
	color: #000;
	font-family:FranklinGothic;
	text-transform:uppercase;
	font-size: 1.2em;
}

.apply-text:hover{
		color: #FF3D3D;
	border-bottom: solid 4px #FF3D3D;
}

.display-text{
	font-family:FranklinGothic;
	line-height: 1.8em;
	font-size: 1.45em;
}

.display-link{
	border-bottom: 2px solid #fff;
	padding-bottom: 1px;
	color: #fff;
	font-weight: normal;
}

.display-link:hover {
		border-bottom: 2px solid #FF3D3D;
			padding-bottom: 1px;
		color: #FF3D3D;
}

.black-display-link{
	border-bottom: 2px solid #000;
	color: #000;
		font-weight: normal;
}

.black-display-link:hover {
		border-bottom: 2px solid #FF3D3D;
		color: #FF3D3D;
}

.topic{
	font-size: .75em;
	padding-bottom: 5%;
	text-transform: uppercase;
}
}

@media (max-width : 1300px) {

}

@media (max-width : 1024px) {
.center-text{
			font-size: 1.35em;
}

.heading-1{
	font-size: 2.5em;
}

.heading-2{
	font-size: 1.75em;
}

.text{
	font-size: 1.25em;
}

.display-text{
	font-size: 1.25em;
}

.smaller-text{
	font-size: .8em;
}

.small-text{
	font-size: 1.15em;
}

.bullet{
	font-size: 1.25em;
}

.display-link{
	border-bottom: 2px solid #fff;
	color: #fff;
}

.display-link:hover {
		border-bottom: 2px solid #FF3D3D;
		color: #FF3D3D;
}

.black-display-link{
	border-bottom: 2px solid #000;
	color: #000;
}

.black-display-link:hover {
		border-bottom: 2px solid #FF3D3D;
		color: #FF3D3D;

}



@media only screen and (min-width : 200px) and (max-width: 768px) {		
	
	body{
		font-size: 18px;
	}
 .heading-1{	
	font-size: 1.5em;		
	font-family:FranklinGothic;		
}
 .nav-text{
	font-size: 1.15em;
}
 .heading-2{
	font-size: 1.5em;
	font-weight: bold;
}
			
 	.display-text{
 	font-family:FranklinGothic;
 	font-size: 1.15em;
}	
 .text{	
	font-size: 1.05em;
	line-height: 1.5em;
}
.center-text{
		font-size: 1.15em;
}


}
