.marquee {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  /*  each letter will be 5% of the viewport (the vw)  */
  font-size: 3vw;
  line-height: 1;
  /*  this will stop long text from causing scroll bars by handing outside of the marquee box area  */
  overflow: hidden;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.marquee span {
  /*  this is the shorthand (breif) version of the animation syntax / CSS rule  */
  animation: moveLeft 500s infinite;
  /*  this will ensure the text stays all on the saem line  */
  white-space: nowrap;
  /*  our span is inline by default, so here we tell it to be block  */
  display: block;
  /*  this will let us add our animation  */
  position: relative;
}

.mix-difference {
  /*  our mix blend mode allows us to mix curreny layer's stlye/colors with that of what's behind it to create some really cool effects  */
  mix-blend-mode: difference;
}

h1 {
  position: fixed;
  top: 60px;
  right: 90px;
  width: 25%;
  transform: rotate(5deg) translate3d(20px, 0px, 0px);
  z-index: -1;
}

.container {
  max-width: 900px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.intro-menu:hover {
  transform: rotate(2deg) scale(1.05);
}

.intro-nav:hover {
  transform: rotate(2deg) scale(1.05);
}

.intro-menu,
.intro-nav {
  transition: transform 0.5s ease-in;
  transition-duration: 5000;
}

.intro-1,
.find-us {
  padding-top: 20px;
}

.intro-menu {
  justify-content: flex-start;
  width: 30%;
}

.intro-nav {
  justify-content: flex-end;
  width: 30%;
  margin-top: 150px;
  transform: rotate(-2deg);
}

.intro-1{
  display: flex;
  justify-content: space-between;
}

.find-us {
  display: flex;
  justify-content: space-between;
}

.workshops {
  position: relative;
  max-width: 20vw;
  left: 5vw;
  bottom: 10vh;
  transition: transform 1s ease-in;
}

.workshops:hover {
  transform: rotate(15deg);
}

h2 {
  font-size: 4vw;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 40px 0;
}

.container-2 {
  margin-top: 80px;
  overflow: hidden;
}

.interior,
.hours {
  float: left;
  width: 50%;
  padding-right: 50px;
}

.hours {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
}

.vector {
  margin-left: 40%;
  width: 60%;
}

.logo {
  margin-top: -50px;
  width: 90%;
  margin-bottom: 50px;
}

.text {
  text-align: center;
  line-height: 1.3em;
}

.menu {
  width: 1000px;
  overflow: hidden;
  margin: 100px auto 100px auto;
  text-align: center;
}

.specials {
  display: inline-block;
  width: auto;
  margin-bottom: 20px;
}

.menu h5 {
  font-size: 1vw;
  margin-bottom: 30px;
}

.text h3,
.menu h6 {
  font-size: 2vw;
  margin: 15px 0 10px 0;
}

.menu p {
  font-size: 1.5vw;
  margin-bottom: 45px;
  line-height: 1.2em;
}

.text p {
  font-size: 1.5vw;
  line-height: 1.2em;
}

.lunch,
.dinner {
  float: left;
  width: 50%;
  padding: 30px;
}

.events {
  background-color: rgba(255, 202, 202, 0.45);
  padding: 40px;
  text-align: center;
}

.events h4 {
  display: inline-block;
  width: auto;
}

.posters {
  margin: 30px auto 0 auto;
  max-width: 1000px;
  display: block;
}

.events-option{
  display: none;
}

.events img {
  padding: 15px;
  display: inline;
  width: 40%;
  transition: transform 0.5s ease-in;
}

.events img:hover {
  transform: scale(1.05);
}

footer{
  margin: 5vh auto 5vh auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  font-size: 2vw;
  line-height: 1.5em;
}

footer img{
  width: 90vw;
  text-align: center;
}

@media (max-width: 1050px) {
  .workshops {
    max-width: 18vw;
    bottom: 9vh;
  }

  .lunch,
  .dinner {
    float: none;
    width: 100%;
    padding: 30px;
  }
  .menu {
    margin: 100px auto 30px auto;
    width: 70%;
  }
  .menu h6 {
    font-size: 2vw;
  }
  .menu p {
    font-size: 1.75vw;
  }
  .text p {
    font-size: 1.75vw;
  }
  .lunch {
    padding: 20px 0 0 0;
  }
  .dinner {
    padding: 0;
  }
  .events {
    padding: 40px 20px 20px 20px;
  }
  .events img {
    width: 45%;
  }
  .container-2 {
    margin: 5vh 10vw 0 10vw;
  }
  .interior,
  .hours {
    padding: 0;
  }
  .interior img {
    width: 80%;
  }
}

@media (max-width: 930px) {
  body{
    font-size: 3.5vw;
  }
  .interior,
  .hours {
    padding: 10px 10px 30px 10px;
  }
  .interior img {
    width: 100%;
  }
  .menu {
    margin: 30px auto 30px auto;
  }
  .menu h5{
    font-size: 2vw;
  }

}

@media (max-width: 800px) {
  h2{
    font-size: 6vw;
  }
  .container{
    max-width: 700px;
  }
  .intro-nav,
  .intro-menu {
    width: 40%;
  }
  .workshops {
    max-width: 30vw;
  }
  .specials,
  .events h4  {
    font-size: 3.25vw;
  }
  .menu h5 {
  font-size: 3vw;
  margin-bottom: 30px;
}

.text h3{
    font-size: 2vw;
  }
  
.menu h6 {
  font-size: 3vw;
  margin: 15px 0 10px 0;
}

.menu p {
  font-size: 2.5vw;
  margin-bottom: 45px;
  line-height: 1.2em;
}
   .text p {
  font-size: 1.75vw;
  line-height: 1.2em;
  }
  .events{
    padding-left: 0;
    padding-right: 0;
  }
  .events img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    transition: none;
  }
  .events img:hover {
    transform: none;
  }
 
  
  .container-2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .menu{
    margin-top: 0;
  }
  footer{
  font-size: 4vw;
  }
}

@media (max-width: 650px) {

  
  .container{
    max-width: 550px;
  }
  .interior,
  .hours {
    float: none;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .interior {
/*     position: absolute; */
    margin: 0px 0 0 auto;
    width: 80%;
    z-index: -5;
  }
  
  .logo{
    margin-bottom: 0;
  }
  .hours {
    width: 100%;
    padding: 0;
    margin: 0 0 60px 0;
  }
  .text{
      text-align: left;
  }
  .text p {
  font-size: 4vw;
  line-height: 1.2em;
  }
    .events img {
      width: 70%;
  }
}

@media (max-width: 540px) {
  .container{
    width: 90%;
    overflow: hidden;
  }
  body{
    font-size: 6vw;
  }
  
  h1 {
  top: 60px;
  right: 0px;
  width: 35%;
  transform: none;
  z-index: -200;
}

      .marquee{
        display: none;
/*   here we reset marquee back to its default position  */
    position: relative;
    top: auto;
    left: auto;
    width: 90vw;
    margin-bottom: 24px;
  }
  .intro {
  margin: 0px 20px 0 20px;
  display: block;
    justify-content: flex-start;
}

.intro-menu:hover {
  transform: none;
}

.intro-nav:hover {
  transform: none;
}

.intro-menu, .intro-nav {
      padding-top: 0;
	width: 100%;
  margin-top: 20px;
}
  
  .intro-menu img{
    width: 80%;
    
  }
  
 .events-option{
  display: inline;
}

  
  .intro-nav{
    justify-content: flex-start;
    transform: none;
    margin-bottom: 20px;
  }
  
  .intro-nav img{
    display: none;
  }
  
  .find-us{
    padding: 0;
  }
  
  .workshops{
    display: none;
    max-width: 20vw;
    left: 70vw;
    bottom: 10vh;
  }
  
  h2{
    padding: 40px 20px 20px 20px;
  }

  h3{
    margin: 0;
  }
    .specials,
  .events h4  {
    font-size: 3.75vw;
  }
  .menu h5 {
  font-size: 3.5vw;
  margin-bottom: 30px;
}

.text h3,
.menu h6 {
  font-size: 3.5vw;
  margin: 15px 0 10px 0;
}

.menu p {
  font-size: 3.5vw;
  margin-bottom: 45px;
  line-height: 1.2em;
}
    	
    .events img {
      width: 90%;
}

}

@media (max-width: 400px) {
   h2{
    font-size: 6vw;
  }
  .events img{
    width: 95%;
  }
  .menu p{
    font-size: 2.85vw;
  }
}
