<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/nytzf.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/blog.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>New York Tech Zine Fair</title>
  </head>

  <body>
    <div class="nav-bar inView" id="navbar">
      <a href="/#home"><img id="stuck2" src="/assets/images/img2.png"></a>
    </div>

    {{ content }}
    {%- include scripts.html -%}
  </body>

</html>
